/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 100px;
}


/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
}

.header__image{
    display: none;
}

/* about */
.about{
    margin-top: 50px;
    margin-bottom: 90px;
}

.about__text{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.about__paragrf{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #646667;
    margin-top: 15px;
    margin-bottom: 50px;
}

.about__span{
    color: #9F86D9;
}

.about__image{
    width: 100%;

}


/* qwert */
.qwert{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.about__texts{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}


.about__paragrff{
    width: 1060px;
    font-size: 22px;
    font-weight: 700;
}

.about__paragrfff{
    width: 1060px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #646667;
}

.about__box{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 60px;
}


.about__box--paragrf{
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 12px;
    gap: 10px;
}

.qwert__boxs{
    width: 1060px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF5F2;
    margin-bottom: 45px;
}

.qwert__box{
    text-align: center;
}

.qwert__box--text{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.qwert__box--paragrf{
    width: 227px;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
}

.qwert__text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.qwert__paragrf{
    width: 1060px;
    font-size: 20px;
    font-weight: 400;
    color: #294646;
}


/* images */
.images{
    width: 100%;
    height: 820px;
    background-color: #FFF5F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.image__text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.images__box{
    display: grid;
    gap: 15px;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 2, 1fr;
}

.images__box--image:first-child{
    grid-column: 1/2;
    grid-row: 1/3;
}

.images__box--image:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}

.images__box--image:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
}


.images__box--image:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/3;
}


.images__box--image:nth-child(5){
    grid-column: 3/4;
    grid-row: 2/3;
}


/* cards */
.cards{
    margin-bottom: 70px;
}

.cards__text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 36px;
}

.card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__box{
    width: 458px;
    height: 270px;
    padding: 40px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 60px rgba(221, 221, 221, 0.432);
}

.card__box--paragrf{
    width: 376px;
    margin: auto;
    font-size: 400;
    font-weight: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card__box--paragrff{
    font-size: 18px;
    font-weight: 700;
    color: #9F86D9;
    gap: 7px;
}


/* text */
.texts{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin-bottom: 90px;
}

.texts__text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.texts__paragrf{
    width: 550px;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    color: #294646;
}

















/* footer */
.footer__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__ul--text{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer__ul--li{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer__botton{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__botton--paragrf{
    font-size: 14px;
    font-weight: 400px;
}

.footer__botton--span{
    color: #9F86D9;
}
