/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 100px;
}




/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
}

.header__image{
    display: none;
}


/* pages */
.section{
    padding: 80px;
    width: 100%;
    height: 742px;
    background-color: #FFF5F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}

.section__text--text{
    font-size: 64px;
    font-weight: 700;
}

.section__text--paragrf{
    width: 371px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}


.section__text--paragrff{
    font-size: 20px;
    font-weight: 400;
}


/* section2 */
.section2{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 50px;
    width: 1520px;
    background-image: url("icon/bg.png");
    border: 4px solid #EDA62A;
    margin-bottom: 70px;
    height: 249px;
    background-size: cover;
}


.section2__text{
    width: 346px;
    font-size: 32px;
    font-weight: 700;
    font-family: "Lobster Two", sans-serif;
    color: #EDA62A;
    margin-bottom: 25px;
}


.section2__paragrf{
    width: 578px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}


.section2__input{
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 487px;
    height: 40px;
    border-radius: 6px;
    background-color: white;
    border: 2px solid #9F86D9;
}

.section2__input--email{
    background: none;
    outline: none;
    border: none;
}


.section2__input--box{
    width: 119px;
    height: 40px;
    background-color: #9F86D9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 6px 6px 0;
    position: absolute;
    left: 1650px;
}










/* brend */

.contact__brend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
}

.contact__brend--box{
    display: flex;
    gap: 18px;
}

.contact__brend--box--img{
    height: 30px;
}

.contact__box--text{
    font-size: 700;
    font-weight: 20px;
    margin-bottom: 6px;
}

.contact__box--paragrf{
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #294646;
}




/* footer */
.footer__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__ul--text{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer__ul--li{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer__botton{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__botton--paragrf{
    font-size: 14px;
    font-weight: 400px;
}

.footer__botton--span{
    color: #9F86D9;
}





@media (max-width:428px) {

     .conteiner{
        width: 100%;
        max-width: 428px;
        padding: 0 10px;
        margin: auto;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav{
        display: none;
    }

    .header__image{
        display: flex;
    }

    .signup{
        display: none;
    }



    /* section */
    .section{
        display: block;
        padding: 0;
        height: 600px;
    }

    .section__image{
        width: 408px;
        height: 410px;
    }

    .section__text{
        padding: 20px;
    }

    .section__text--text{
        font-size: 24px;
    }

    .section__text--paragrf{
        width: 350px;
        font-size: 15px;
    }

    .section__text--paragrff{
        font-size: 15px;
    }


    /* card */
    .contact__brend{
        display: block;
        text-align: center;
        justify-content: center;
    }

    .contact__brend--box{
        width: 250px;
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    /* footer */
    .footer__text{
        text-align: center;
        display: block;
    }

    .footer__ul{
        margin-top: 60px;
    }


    .footer__botton{
        text-align: center;
        display: block;
    }

    .footer__botton--paragrf{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}