/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 100px;
}


/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
}

.header__image{
    display: none;
}


/* section */
.section{
    margin-bottom: 70px;
}

.section__text{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}

.section__text--paragrf{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #646667;
    gap: 7px;
    margin-bottom: 90px;
}

.section__box--span{
    color: #9F86D9;
}

.section__box{
    width: 1440px;
    height: 70px;
    background-color: #9F86D9;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 20px;
}

.section__box--paragrfqr{
    color: white;
    margin-left: 360px;
    font-size: 16px;
    font-weight: 700;
}

.section__box--paragrfw{
    color: white;
    margin-left: 125px;
    font-size: 16px;
    font-weight: 700;
}

.section__box--paragrfe{
    color: white;
    margin-left: 222px;
    font-size: 16px;
    font-weight: 700;
}

.section__box--paragrfr{
    color: white;
    margin-left: 125px;
    font-size: 16px;
    font-weight: 700;
}

.section__box--paragrft{
    color: white;
    margin-left: 140px;
    font-size: 16px;
    font-weight: 700;
}

.section__box--paragrf{
    color: white;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
}

.section__box2{
    width: 1440px;
    height: 158px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
}

.section__box2--box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-right: 100px;
}

.section__box2--XL{
    font-size: 16px;
    font-weight: 700;
}

.section__box2--suma{
    font-size: 18px;
    font-size: 400;
    color: #9F86D9;
    margin-left: 140px;
    margin-right: 200px;
}

.qwert{
    background-color: #FFF5F2;
}

.section__box2--sumaa{
    font-size: 18px;
    font-weight: 400;
    color: #9F86D9;
    margin-left: 100px;
    margin-right: 175px;
}


/* login */
.login{
    margin-top: 70px;
    display: flex;
    gap: 40px;
}

.login__box{
    width: 566px;
    height: 50px;
    background: none;
    border:  3px solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.login__box--input{
    width: 499px;
    background: none;
    border: none;
    outline: none;
}

.login__box--btn{
    position: absolute;
    margin-left: 460px;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 700;
    background-color: #646667;
    border: none;
    border-radius: 0 8px 8px 0;
}

.login__regiyon{
    margin-top: 25px;
    width: 566px;
    height: 212px;
    background: none;
    border-radius: 8px;
    padding: 28px;
    border:  3px solid #cacaca;
}

.login__regiyon--text{
    font-size: 18px;
    font-weight: 700;
}

.login__regiyon--paragrf{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login__usa{
    width: 505px;
    height: 44px;
    border:  3px solid #cacaca; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
}

.login__usa--input{
    background: none;
    border: none;
    outline: none;
}

.login__box2{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__box2s{
    width: 248px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border:  3px solid #cacaca; 
}

.login__box2--input{
    margin-left: 20px;
    background: none;
    border: none;
    outline: none;
}

.login__suma{
    border:  3px solid #cacaca; 
    border-radius: 6px;
    padding: 0 30px;
}

.login__suma--text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.login__text--paragrf{
    font-size: 14px;
    font-size: 400;
}

.login__text--paragrff{
    font-size: 16px;
    font-weight: 700;
}

.login__suma--btn{
    padding: 16px 120px;
    border: none;
    border-radius: 6px;
    background-color: #9F86D9;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}


.login__botton{
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-left: 1130px;
}

.login__botton--btn{
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    padding: 15px;
    color: #9F86D9;
    border: 2px solid #9F86D9;
    font-size: 12px;
    font-weight: 700;
}

.login__botton--btn2{
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    padding: 15px;
    color: #ffffff;
    background-color: #9F86D9;
    border: none;
    font-size: 12px;
    font-weight: 700;
}






/* img */
.brand__text{
    font-size: 32px;
    font-weight: 700;
    color: #9F86D9;
    text-align: center;
    margin-bottom: 40px;
}


.img{
    margin-top: 90px;
    margin-bottom: 90px;
}

.img__boxx{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */
.footer__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__ul--text{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer__ul--li{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer__botton{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__botton--paragrf{
    font-size: 14px;
    font-weight: 400px;
}

.footer__botton--span{
    color: #9F86D9;
}





@media (max-width:428px) {

     .conteiner{
        width: 100%;
        max-width: 428px;
        padding: 0 10px;
        margin: auto;
    }


    /* footer */
    .footer__text{
        text-align: center;
        display: block;
    }

    .footer__ul{
        margin-top: 60px;
    }


    .footer__botton{
        text-align: center;
        display: block;
    }

    .footer__botton--paragrf{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}