/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}


.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 100px;
}

.signup{
    width: 100%;
    height: 50px;
    background-color: #EAE1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup__ul{
    display: flex;
    align-items: center;
    gap: 24px;
}

.signup__ul--li{
    color: #1C1D1D;
    font-size: 14px;
    font-weight: 400;
}

.signup__box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.signup__box--paragrf{
    font-size: 14px;
    font-weight: 400;
}

.signup__box-btn{
    padding: 7px 10px;
    background-color: #E35946;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.signup__div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.signup__div--paragrf{
    font-size: 16px;
    font-weight: 400;
}


/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
}

/* hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__image{
    display: none;
}

.hero__text{
    width: 780px;
    height: 708px;
    background-color: #E3CEE3;
    padding: 75px;
}

.hero__text--image{
    margin-left: 370px;
    margin-bottom: 20px;
}

.qwert{
    display: flex;
    gap: 50px;
    position: absolute;
    left: 980px;
    top: 395px;
}

.trewq{
    width: 90px;
    height: 3px;
    background-color: #9F86D9;
    margin-top: 25px;
}

.hero__text--paragrf{
    font-size: 30px;
    font-weight: 700;
}

.hero__text--text{
    font-size: 140px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    left: 953px;
    top: 425px;
    font-family: "Lobster Two", sans-serif;
}

.hero__text--text2{
    font-size: 140px;
    font-weight: 700;
    color: #9F86D9;
    position: absolute;
    left: 960px;
    top: 425px;
    font-family: "Lobster Two", sans-serif;
}


.hero__text--paragrff{
    font-size: 32px;
    font-weight: 700;
    margin-top: 230px;
    font-family: "Lobster Two", sans-serif;
}

.hero__btn{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.hero__btn--button{
    padding: 17px 23px;
    background-color: white;
    border: 2px solid #1C1D1D;
    border-radius: 4px;
    color: #1C1D1D;
    font-size: 18px;
    font-weight: 700;
}

.hero__btn--paragrf{
    font-size: 18px;
    font-weight: 700;
}

/* cards */
.cards{
    margin-top: 90px;
    margin-bottom: 70px;
}

.cards__text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #EDA62A;
}

.cards__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.cards__ul--li{
    font-size: 22px;
    font-weight: 700;
    font-family: "Lobster Two", sans-serif;
}

.cards__box{
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 2, 1fr;
    gap: 30px;
}

.cards__box1:first-child{   
    grid-column: 1/2;
    grid-row: 1/2;
}

.cards__box1:nth-child(2){   
    grid-column: 2/3;
    grid-row: 1/2;
}

.cards__box1:nth-child(3){   
    grid-column: 3/4;
    grid-row: 1/2;
}

.cards__box1:nth-child(4){   
    grid-column: 4/5;
    grid-row: 1/2;
}

.cards__box1:nth-child(5){   
    grid-column: 1/2;
    grid-row: 2/3;
}

.cards__box1:nth-child(6){   
    grid-column: 2/3;
    grid-row: 2/3;
}

.cards__box1:nth-child(7){   
    grid-column: 3/4;
    grid-row: 2/3;
}

.cards__box1:nth-child(7){   
    grid-column: 4/5;
    grid-row: 2/3;
}

.cards__box1--paragrf{
    font-size: 16px;
    font-weight: 700;
    color: #111414;
    margin-top: 12px;
    margin-bottom: 12px;
}

.cards__box1--paragrff{
    font-size: 18px;
    font-weight: 400;
}

/* cards2 */
.cards2{
    margin-bottom: 80px;
}

.cards2__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards2__text--text{
    font-size: 32px;
    font-weight: 700;
    color: #9F86D9;
}

.cards2__text--paragrf{
    font-size: 18px;
    font-weight: 700;
}

.cards2__box{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 1, 1fr;
}

.cards2__box2{
    width: 336px;
    height: 500px;
    background-color: #EFF2F3;
    padding: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.cards2__box2--quti{
    width: 244px;
    height: 38px;
    background-color: #9F86D9;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    border-radius: 100px;
}

.cards2__box2--paragrf{
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.cards2__box2--paragrff{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.cards2__box2--quti2{
    width: 244px;
    height: 38px;
    background-color: #BFDDDE;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    border-radius: 100px;
}

.cards2__box2--paragrfff{
    font-size: 18px;
    font-weight: 400;
}

.cards2__box22:nth-child(1){
    grid-column: 2/3;
    grid-row: 1/2;
}

.cards2__box22:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
}

.cards2__box22:nth-child(3){
    grid-column: 4/5;
    grid-row: 1/2;
}

.cards2__box2--paragrf2{
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}