/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}


.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 100px;
}

.signup{
    width: 100%;
    height: 50px;
    background-color: #EAE1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup__ul{
    display: flex;
    align-items: center;
    gap: 24px;
}

.signup__ul--li{
    color: #1C1D1D;
    font-size: 14px;
    font-weight: 400;
}

.signup__box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.signup__box--paragrf{
    font-size: 14px;
    font-weight: 400;
}

.signup__box-btn{
    padding: 7px 10px;
    background-color: #E35946;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.signup__div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.signup__div--paragrf{
    font-size: 16px;
    font-weight: 400;
}


/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
}

