/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}


.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 100px;
}

.signup{
    width: 100%;
    height: 50px;
    background-color: #EAE1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup__ul{
    display: flex;
    align-items: center;
    gap: 24px;
}

.signup__ul--li{
    color: #1C1D1D;
    font-size: 14px;
    font-weight: 400;
}

.signup__box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.signup__box--paragrf{
    font-size: 14px;
    font-weight: 400;
}

.signup__box-btn{
    padding: 7px 10px;
    background-color: #E35946;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.signup__div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.signup__div--paragrf{
    font-size: 16px;
    font-weight: 400;
}


/* header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: relative;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
}

.header__image{
    display: none;
}


/* hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text{
    width: 780px;
    height: 708px;
    background-color: #E3CEE3;
    padding: 75px;
}

.hero__text--image{
    margin-left: 370px;
    margin-bottom: 20px;
}

.qwert{
    display: flex;
    gap: 50px;
    position: absolute;
    margin-left: -210px;
}

.trewq{
    width: 90px;
    height: 3px;
    background-color: #9F86D9;
    margin-top: 25px;
}

.hero__text--paragrf{
    font-size: 30px;
    font-weight: 700;
}

.hero__text--text{
    font-size: 140px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    margin-left: -230px;
    margin-top: 30px;
    font-family: "Lobster Two", sans-serif;
}

.hero__text--text2{
    font-size: 140px;
    font-weight: 700;
    color: #9F86D9;
    position: absolute;
    margin-left: -220px;
    margin-top: 30px;
    font-family: "Lobster Two", sans-serif;
}


.hero__text--paragrff{
    font-size: 32px;
    font-weight: 700;
    margin-top: 230px;
    font-family: "Lobster Two", sans-serif;
}

.hero__btn{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.hero__btn--button{
    padding: 17px 23px;
    background-color: white;
    border: 2px solid #1C1D1D;
    border-radius: 4px;
    color: #1C1D1D;
    font-size: 18px;
    font-weight: 700;
}

.hero__btn--paragrf{
    font-size: 18px;
    font-weight: 700;
}

/* cards */
.cards{
    margin-top: 90px;
    margin-bottom: 70px;
}

.cards__text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #EDA62A;
}

.cards__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.cards__ul--li{
    font-size: 22px;
    font-weight: 700;
    font-family: "Lobster Two", sans-serif;
}

.cards__box{
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 2, 1fr;
    gap: 30px;
}

.cards__box1:first-child{   
    grid-column: 1/2;
    grid-row: 1/2;
}

.cards__box1:nth-child(2){   
    grid-column: 2/3;
    grid-row: 1/2;
}

.cards__box1:nth-child(3){   
    grid-column: 3/4;
    grid-row: 1/2;
}

.cards__box1:nth-child(4){   
    grid-column: 4/5;
    grid-row: 1/2;
}

.cards__box1:nth-child(5){   
    grid-column: 1/2;
    grid-row: 2/3;
}

.cards__box1:nth-child(6){   
    grid-column: 2/3;
    grid-row: 2/3;
}

.cards__box1:nth-child(7){   
    grid-column: 3/4;
    grid-row: 2/3;
}

.cards__box1:nth-child(7){   
    grid-column: 4/5;
    grid-row: 2/3;
}

.cards__box1--paragrf{
    font-size: 16px;
    font-weight: 700;
    color: #111414;
    margin-top: 12px;
    margin-bottom: 12px;
}

.cards__box1--paragrff{
    font-size: 18px;
    font-weight: 400;
}

/* cards2 */
.cards2{
    margin-bottom: 80px;
}

.cards2__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards2__text--text{
    font-size: 32px;
    font-weight: 700;
    color: #9F86D9;
}

.cards2__text--paragrf{
    font-size: 18px;
    font-weight: 700;
}

.cards2__box{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 1, 1fr;
}

.cards2__box2{
    width: 336px;
    height: 500px;
    background-color: #EFF2F3;
    padding: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.cards2__box2--quti{
    width: 244px;
    height: 38px;
    background-color: #9F86D9;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    border-radius: 100px;
}

.cards2__box2--paragrf{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.cards2__box2--paragrff{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.cards2__box2--quti2{
    width: 244px;
    height: 38px;
    background-color: #BFDDDE;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    border-radius: 100px;
}

.cards2__box2--paragrfff{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.cards2__box22:nth-child(1){
    grid-column: 2/3;
    grid-row: 1/2;
}

.cards2__box22:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
}

.cards2__box22:nth-child(3){
    grid-column: 4/5;
    grid-row: 1/2;
}

.cards2__box2--paragrf2{
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}


/* box */
.box{
    width: 100%;
    height: 456px;
    background-image: url("image/bg.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.box__card{
    width: 660px;
    height: 333px;
    border: 10px solid white;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.box__card2{
    width: 660px;
    height: 333px;
    border: 10px solid white;
    background-color: #c0d8fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}


.box__text--text{
    font-size: 32px;
    font-weight: 700;
    font-family: "Lobster Two", sans-serif;
}

.box__text--paragrf{
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 40px;
}


.box__text--btn{
    padding: 10px 18px;
    background-color: #9F86D9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
}

.box__card--image{
    width: 300px;
    height: 313px;
}

.box__card--image2{
    width: 435px;
    position: absolute;
    margin-left: 120px;
}

/* card */
.card{
    margin-bottom: 90px;
}

.card__boxx{
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: (2, 1fr);
    justify-content: space-between;
    gap: 50px;
}

.card__box:first-child{   
    grid-column: 1/2;
    grid-row: 1/2;
}

.card__box:nth-child(2){   
    grid-column: 2/3;
    grid-row: 1/2;
}

.card__box:nth-child(3){   
    grid-column: 3/4;
    grid-row: 1/2;
}

.card__box:nth-child(4){   
    grid-column: 4/5;
    grid-row: 1/2;
}

.card__box:nth-child(5){   
    grid-column: 1/2;
    grid-row: 2/3;
}

.card__box:nth-child(6){   
    grid-column: 2/3;
    grid-row: 2/3;
}

.card__box:nth-child(7){   
    grid-column: 3/4;
    grid-row: 2/3;
}

.card__box:nth-child(8){   
    grid-column: 4/5;
    grid-row: 2/3;
}

.card__box{
    width: 336px;
    height: 397px;
    border: 2px solid #868686;
    background: none;
    padding: 20px;
}

.card__boxs{
    width: 53px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    background-color: #EDA62A;
    position: absolute;
    border-radius: 50px;
}

.card__box--paragrf{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 12px;
}

.card__box--box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__box--box--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #9F86D9;
}


/* image */
.image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.image__img{
    width: 877px;
    height: 230px;
    background-image: url("image/bggg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image__img2{
    width: 527px;
    height: 230px;
    background-image: url("image/30122865_7654348\ 1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.QWERTYU{
    position: absolute;
    margin-left: 200px;
}

.image__img--tetx{
    font-size: 32px;
    font-weight: 700px;
    font-family: "Lobster Two", sans-serif;
    color: #E35946;

}

.image__img--paragrf{
    width: 260px;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.image__img--btn{
    margin: auto;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #9F86D9;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
}


.image__img2--tetx{
    text-align: center;
    font-size: 32px;
    font-weight: 700px;
    font-family: "Lobster Two", sans-serif;
    color: #E35946;

}

.image__img2--paragrf{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.image__img2--btn{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #E35946;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
}


.quti{
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (2, 1fr);
    justify-content: space-between;
    margin-bottom: 90px;
    gap: 30px;
}

.qutisi:first-child{
    grid-column: 1/2;
    grid-row: 1/3;
}

.qutisi:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
}

.qutisi:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
}

.qutisi__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}

.qutisi__box--tetx{
    font-size: 32px;
    font-weight: 700;
    color: #9F86D9;
}

.qutisi__box--chiziq{
    display: flex;
    align-items: center;
    gap: 8px;
}

.qutisi__card{
    display: flex;
    align-items: center;
    gap: 27px;
    margin-bottom: 25px;
}

.qutisi__tetx--tetx{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.qutisi__card--box{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}


.qutisi__box--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #9F86D9;
}

.qutisi__box--paragrff{
    font-size: 18px;
    font-weight: 400;
    color: #646667;
}


.qutisi__image{
    width: 453px;
    height: 284px;
    background-image: url("image/qwert.png");
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.qutisi__imagee{
    margin-top: 30px;
    width: 453px;
    height: 284px;
    background-color: #C2E9FF;
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.qutisi__image--tetx{
    font-size: 30px;
    font-weight: 700;
    font-family: "Lobster Two", sans-serif;
}

.qutisi__image--paragrf{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 22px;
    margin-top: 8px;
}

.qutisi__image--btn{
    padding: 9px 17px;
    border: none;
    border-radius: 4px;
    background-color: #9F86D9;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

/* brend */
.brand__text{
    font-size: 32px;
    font-weight: 700;
    color: #9F86D9;
    text-align: center;
    margin-bottom: 40px;
}

.brand__box{
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 40px;
}


.img{
    margin-top: 90px;
    margin-bottom: 90px;
}

.img__boxx{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */
.footer__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__ul--text{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer__ul--li{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer__botton{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__botton--paragrf{
    font-size: 14px;
    font-weight: 400px;
}

.footer__botton--span{
    color: #9F86D9;
}




@media (max-width:428px) {
    .conteiner{
        width: 100%;
        max-width: 428px;
        padding: 0 10px;
        margin: auto;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav{
        display: none;
    }

    .header__image{
        display: flex;
    }

    .signup{
        display: none;
    }

    .hero{
        display: block;
        margin-bottom: 50px;
    }

    .hero__text{
        width: 100%;
        height: auto;
        background: none;
        padding: 0;
    }

    .hero__image{
        width: 100%;
    }

    .hero__text--text{
        display: none;
    }


    .hero__text--image{
        width: 80px;
        height: 90px;
        margin-left: 0;
        position: absolute;
        margin-top: -100px;
        margin-left: 270px;
    }

    .hero__text--text2{
        position: absolute;
        top: 466px;
        margin: 0;
        font-size: 55px;
    }


    .qwert{
        position: absolute;
        margin: 0;
        display: flex;
        align-items: center;
        margin-top: -100px;
    }

    .trewq{
        margin-top: 15px;
        width: 90px;
    }

    .hero__text--paragrf{
        font-size: 15px;
    }


    .hero__text--paragrff{
        margin-top: 120px;
        font-size: 20px;
    }


    .hero__btn--button{
        font-size: 14px;
        padding: 7px 10px;
    }

    .hero__btn--paragrf{
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px;
    }


    /* card */
    .cards{
        margin-bottom: 50px;
    }


    .cards__text{
        font-size: 18px;
    }

    .cards__ul--li{
        font-size: 16px;
    }

    .cards__box{
        display: grid;
        justify-content: center;
        grid-template-columns: 1, 1fr;
        grid-template-rows: 8, 1fr;
    }

    .cards__box1:last-child{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .cards__box1:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .cards__box1:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }


    .cards__box1:nth-child(4){
        grid-column: 1/2;
        grid-row: 4/5;
    }


    .cards__box1:nth-child(5){
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .cards__box1:nth-child(6){
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .cards__box1:nth-child(7){
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .cards__box1:nth-child(8){
        grid-column: 1/2;
        grid-row: 8/9;
    }


    .cards2{
        margin-bottom: 70px;
    }

    .cards2__box{
        display: grid;
        justify-content: center;
        grid-template-columns: 1, 1fr;
        grid-template-rows: 4, 1fr;
    }

    .cards2__box2{
        grid-column: 1/2;
        grid-row: 1/2;
    }


    .cards2__box22{
        margin-top: 30px;
    }

    .cards2__box22:nth-child(1){
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .cards2__box22:nth-child(2){
        grid-column: 1/2;
        grid-row: 3/4;        
    }

    .cards2__box22:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/4;        
    }


    /* box */
    .box{
        display: none;
    }

    /* card */
    .card{
        margin-bottom: 70px;
    }


    .cards2__text{
        display: flex;
        justify-content: space-between;
    }

    .cards2__text--text{
        font-size: 18px;
    }

    .cards2__text--paragrf{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
    }

    .card__boxx{
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-rows: 8, 1fr;
        justify-content: center;
    }

    
.card__box:first-child{   
    grid-column: 1/2;
    grid-row: 1/2;
}

.card__box:nth-child(2){   
    grid-column: 1/2;
    grid-row: 2/3;
}

.card__box:nth-child(3){   
    grid-column: 1/2;
    grid-row: 3/4;
}

.card__box:nth-child(4){   
    grid-column: 1/2;
    grid-row: 4/5;
}

.card__box:nth-child(5){   
    grid-column: 1/2;
    grid-row: 5/6;
}

.card__box:nth-child(6){   
    grid-column: 1/2;
    grid-row: 6/7;
}

.card__box:nth-child(7){   
    grid-column: 1/2;
    grid-row: 7/8;
}

.card__box:nth-child(8){   
    grid-column: 1/2;
    grid-row: 8/9;
}

    .image__img{
        display: none;
    }

    .image__img2{
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .QWERTYU{
        position: absolute;
        margin-top: -70px;
        margin-left: 150px;
    }

    .image__img2--text{
        font-size: 15px;
    }

    .image__img2--paragrf{
        font-size: 12px;
    }

    .image__img2--btn{
        padding: 7px 15px;
        font-size: 10px;
    }


    /* quti */
    .quti{
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-rows: 3, 1fr;
        justify-content: center;
        margin-bottom: 70px;
    }


    .qutisi:last-child{
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .qutisi:nth-child(2){
       display: none;
    }

    .qutisi:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .qutisi__card{
        display: flex;
        justify-content: center;
    }

    .qutisi__box--tetx{
        font-size: 18px;
    }

    .qutisi__box{
        display: flex;
        justify-content: center;
        gap: 180px;
    }


    /* brend */
    .brand__text{
        font-size: 20px;
    }

    .brand__box{
        
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .brand__box--image{
        margin: auto;
        
    }
}

